{% load static %}
<!DOCTYPE html>
<html  >
<head>  
  <title>404</title>
  <link rel="stylesheet" href="/static/LongshotGaming/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/LongshotGaming/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/static/LongshotGaming/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/static/LongshotGaming/assets/tether/tether.min.css">
  <link rel="stylesheet" href="/static/LongshotGaming/assets/socicon/css/styles.css">
  <link rel="stylesheet" href="/static/LongshotGaming/assets/theme/css/style.css">
  <link rel="preload" as="style" href="/static/LongshotGaming/assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="/static/LongshotGaming/assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
</head>
<body>
  <section class="header4 cid-rVvdDV3FST mbr-parallax-background" id="header4-p">

    

    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(35, 35, 35);">
    </div>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="media-content col-md-10">
                
                
                <div class="mbr-text align-center mbr-white pb-3">
                    
                </div>
                
            </div>
            <div class="mbr-figure pt-5">
                <a href="/"><img src="/static/LongshotGaming/assets/images/logo-900x900.png" alt="Mobirise" title="" style="width: 30%;"></a>
            </div>
        </div>
    </div>
</section>

<section class="engine"><a href="https://mobirise.info/r">bootstrap template</a></section><section class="mbr-section info1 cid-rVveve6Ec6" style="height: 1000px;" id="info1-q">

    

    
    <div class="container">
        <div class="row justify-content-center content-row">
            <div class="media-container-column title col-12 col-lg-7 col-md-6">
                <h3 class="mbr-section-subtitle align-left mbr-light pb-3 mbr-fonts-style display-1" style="text-align: left;">Error 503</h3>
                <h2 class="align-left mbr-bold mbr-fonts-style display-5">Looks like we're having some server issues.</h2>
            </div>
            <div class="media-container-column col-12 col-lg-3 col-md-4">
                
            </div>
        </div>
    </div>
</section>

<section once="footers" class="cid-rVqB03A5Au" id="footer7-o">

    

    

    <div class="container">
        <div class="media-container-row align-center mbr-white">
            
            <div class="row social-row">
                <div class="social-list align-right pb-2">
                    
                    
                    
                    
                    
                    
                <div class="soc-item">
                        <a href="https://instagram.com/mobirise" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-instagram socicon"></span>
                        </a>
                    </div><div class="soc-item">
                        <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
                            <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                    </div></div>
            </div>
            <div class="row row-copirayt">
                <p class="mbr-text mb-0 mbr-fonts-style mbr-white align-center display-7">
                    longshotgaming@lipscomb.edu</p>
            </div>
        </div>
    </div>
</section>


  <script src="/static/LongshotGaming/assets/web/assets/jquery/jquery.min.js"></script>
  <script src="/static/LongshotGaming/assets/popper/popper.min.js"></script>
  <script src="/static/LongshotGaming/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/static/LongshotGaming/assets/tether/tether.min.js"></script>
  <script src="/static/LongshotGaming/assets/smoothscroll/smooth-scroll.js"></script>
  <script src="/static/LongshotGaming/assets/parallax/jarallax.min.js"></script>
  <script src="/static/LongshotGaming/assets/theme/js/script.js"></script>
  
  
</body>
</html>