<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/ComingSoon/min-css/minified.css" />
        <link rel="stylesheet" href="/static/ComingSoon/css/index.css" />
    </head>

    <body class="vertical-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-2 col-sm-1 col-1">
                </div>

                <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10 col-10">
                    <img src="/static/img/logo.png" class="img-fluid"/>
                    <h5 class="text-center">Longshot gaming website coming soon!</h5>
                </div>  

                <div class="col-xl-3 col-lg-3 col-md-2 col-sm-1 col-1">
                </div>
            </div>
            
            <div class="row mt-5">
                <div class="col-xl-3 col-lg-3 col-md-2 col-sm-1 col-1">
                </div>

                <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10 col-10">
                    <div class="text-center cursor-pointer">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-instagram"></a>
                        <a href="#" class="fa fa-twitter"></a>
                    </div>
                </div>  

                <div class="col-xl-3 col-lg-3 col-md-2 col-sm-1 col-1">
                </div>
            </div>
        </div>
    </body>

</html>